* {
    font-family: Impact, "American Typewriter", sans-serif;
}
html {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background: linear-gradient(-45deg, #eeb929, #e57ec3, #c4e8f4, #94e3d1);
  background-size: 400% 400%;
  animation: gradient 12s ease infinite;
  height: 100vh;
  text-align: center;
  margin: 0;
  padding: 0;
  border: 0;
  }

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
  
h1 {
   font-size: 70px;
   margin: 0;
   margin-bottom: 25px; 
   padding-top: 25px;
  }
  
  .container {
    display: grid;
    justify-content: center;
  }
  
  .square.transitioned {
    background-color: #661eaa;
  }
  
  .square {
    border: 1px solid grey;
    background-color: white;
    border-radius: 3px;
  }
  
  .control {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
  }
  .control > button {
    margin: 24px;
    padding: 10px;
    width: 80px;
    font-size: 20px;
    border-radius: 15px;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
      background-image: linear-gradient(to right, #81aff9 0%, #c2e9fb 51%, #a1c4fd 100%);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    cursor: pointer;
  }
  
  button:hover {
    background-position: right center;
  }
  
  footer {
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 30px;
  }