* {
    font-family: Impact, "American Typewriter", sans-serif;
}

body {
    background-color: #d6d4e0;
    text-align: center;
  }
  
h1 {
   font-size: 70px;
   margin-bottom: 25px;
   margin-top: 25px;
  }
  
  .container {
    display: grid;
    justify-content: center;
  }
  
  .square.transitioned {
    background-color: #622569;
  }
  
  .square {
    border: 1px solid grey;
    background-color: white;
    border-radius: 3px;
  }
  
  .control {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
  }
  .control > button {
    margin: 24px;
    padding: 10px;
    width: 80px;
    font-size: 20px;
    border-radius: 15px;
    background-color: #5b9aa0;
    box-shadow: 5px 10px #888888;
  }
  
  button:hover {
    background-color: #b8a9c9;
  }
  
  footer {
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 30px;
  }